@import '../../style/global.css';

.container-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-2);
    background: var(--basics-1);
    padding: var(--gap-2);
    border-radius: var(--rounded-5);
}
.header-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-4);
}
form {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--gap-3);
}
form button:not(.input button) {
    margin-top: var(--gap-2);
}