@import '../../style/global.css';
a {
  text-decoration: none;
  color: var(--primary-color);

  &:hover {
    color: var(--secondary-color);
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    color: var(--tertiary-color);
    outline: var(--regular-outline);
  }
}


