@import './src/style/global.css';

body {
  /* background-color: #fff; */
  background: url("/public/images/background-form.png") center center no-repeat fixed;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}