@import '../../style/global.css';

button {
  background-color: var(--primary-color);
  border: none;
  padding: 10px 20px;
  border-radius: var(--circle-radius);
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  color: var(--text-color-light);
  background-color: red;

  &:hover {
    background-color: var(--primary-color-hover);
  }

  &:disabled {
    background-color: var(--disabled-color);
    cursor: not-allowed;
  }

  &:focus {
    outline: var(--regular-outline);
  }

  &:active {
    background-color: var(--push-color);
  }
}