/* Inter Font*/
/* Inter Regular */
@font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  /* Inter Italic */
  @font-face {
    font-family: 'Inter';
    src: url('../assets/fonts/Inter-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  

/* Title */
.title-1 {
    font-size: var(--fz-48);
    font-weight: var(--fw-semi-bold);
}
.title-2 {
    font-size: var(--fz-40);
    font-weight: var(--fw-semi-bold);
}
.title-3 {
    font-size: var(--fz-32);
    font-weight: var(--fw-semi-bold);
}
.title-4{
    font-size: var(--fz-28);
    font-weight: var(--fw-semi-bold);
}
.title-5 {
    font-size: var(--fz-24);
    font-weight: var(--fw-semi-bold);
}

/* Subtitle */
.subtitle-1 {
    font-size: var(--fz-18);
    font-weight: var(--fw-regular);
}
.subtitle-2 {
    font-size: var(--fz-18);
    font-weight: var(--fw-semi-bold);
}

/* Text */
.text-1 {
    font-size: var(--fz-16);
    font-weight: var(--fw-medium);
}
.text-2 {
    font-size: var(--fz-16);
    font-weight: var(--fw-medium);
}
.text-3{
    font-size: var(--fz-16);
    font-weight: var(--fw-regular);
}
.text-4{
    font-size: var(--fz-14);
    font-weight: var(--fw-medium);
}
.text-5{
    font-size: var(--fz-14);
    font-weight: var(--fw-regular);
}




