@import './reset.css';
@import './variables.css';
@import './fonts.css';

body {
    font-family: "Inter", sans-serif;
    background: var(--neutral-50);
    background: url("/public/images/background-form.png") center center no-repeat fixed;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}