@import '../../style/global.css';

.input-container {
    display: flex;
    flex-direction: column;
    gap: var(--gap-4);
}
.input-message {
    display: flex;
    align-items: center;
    gap: var(--gap-4);
}
.input-error {
    color: var(--error-color);
}
input {
    width: 100%;
    min-width: 200px    ;
    font-size: var(--fz-16);
    padding: var(--gap-4);
    border: none;
    border-bottom: 2px solid var(--primary-color);
}
input:focus {
    border-bottom: 2px solid transparent;
    outline: var(--primary-outline)!important;
}
input:invalid {
    outline: var(--error-color);
}
.input {
    position: relative;
}
.input button {
    top: 50%;
    transform: translateY(-50%);
    right: var(--gap-4);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: none;
}